.section-header {
    color: #C55A11;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.title {
    margin: 3px 0;
}

.workplace,
.education {
    margin: 5px 0;
    font-weight: bold;
}