* {
    box-sizing: border-box;
}

*:not(a):not(code) {
    /* 
    Default font and color for site
    Note: May be overridden for specific areas 
    */
    font-family:Arial, Helvetica, sans-serif;
    color: #404040;
}

body {
    /* Remove white space surrounding page */
    margin: 0px;
}

nav {
    padding: 5px 0;
    border: 1px solid #404040;
    background-color: #404040;

    & ul {
        margin: auto;
        padding: 0;
        max-width: 1200px;
        display: flex;
        justify-content: space-between;

        /* omit bullet points */
        list-style-type: none; 

        & li {
            color: white;
        }

        & a {
            /* omit hyperlink underlines */
            text-decoration: none;
            padding: 5px 10px;

            /* center text vertically */
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        & a:hover {
            & li {
                color: #A0A0A0;
            }
        }

        & .home-button {
            font-size: 24px;
            font-weight: bold;
        }

        & ul.child {
            margin: 0;
            width: 350px;
        }
    }
}

main {
    margin: auto;
    padding: 10px;
    max-width: 1200px;
}

pre {
    background-color: #303030;
    border-radius: 7px;
    overflow-x: auto;
    overflow:   scroll;
    display: block;
    padding: 1.5em;
    white-space: pre;
    line-height: 1.75;
    
    & span {
        font-family: 'Courier New', Courier, monospace;
        color: white;
        font-size: .9rem;
    }

}

footer {
    margin-top: 40px;
    text-align: center;
}