{{ partial "metadata.html" . }}
<link rel="stylesheet" href="/css/common.css" type="text/css" media="all" />
</head>

<body>
    {{ partial "nav.html" . }}
    <main>

        <h1>{{ .Title }}</h1>

        {{ .Content }}

        {{ range.Data.Pages }}
        <h2>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </h2>
        <p>{{ .Description }}</p>
        <time datetime="{{ .Date.Format " 2006-01-02T15:04:05Z07:00" }}">
            {{ .Date.Format "January 2, 2006" }}
        </time>
        {{ end }}

        {{ partial "footer.html" . }}