<header>
    <nav>
        <ul class="parent">
            <a href="{{ .Site.BaseURL }}">
                <li class="home-button">
                    BUFF GUY CODES
                </li>
            </a>
            <ul class="child">
                {{ range.Site.Menus.main }}
                <a href="{{ .URL }}">
                    <li>
                        {{ .Name }}
                    </li>
                </a>
                {{ end }}
            </ul>
        </ul>
    </nav>
</header>